@import url('__container/comments__container.css');
.comments {
    max-width: 1184px;
    margin: 102px auto 0px auto;
}

@media screen and (max-width: 1280px) {
    .comments {
        max-width: 90%;
    }
}