.places {
    margin: 92px auto;
    max-width: 984px;
    display: grid;
    row-gap: 72px;
    grid-template-columns: 1fr;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .places {
        max-width: 100%;
    }
}