.video__info {
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 80%;
}

@media screen and (max-width: 900px) {
    .video__info {
        left: 24px;
        bottom: 24px;
    }
}

@media screen and (max-width: 475px) {
    .video__info {
        left: 16px;
        bottom: 16px;
        max-width: 90%;
    }
}