@import url('__row-links/footer__row-links.css');
@import url('__row/footer__row.css');
@import url('__link/footer__link.css');
@import url('__copyright/footer__copyright.css');
.footer {
    position: relative;
    margin: 160px auto 40px auto;
    max-width: 1184px;
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        margin-top: 102px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        margin-top: 64px;
    }
}