.intro__title {
    max-width: 683px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 1.1;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .intro__title {
        font-size: 2rem;
        line-height: 1.1;
    }
}